#__next {
  height: 100vh;
  min-height: max-content;
}

.react-datepicker__header {
  background-color: #0d6efd !important;
}

.react-datepicker__day-name {
  font-weight: bolder;
  color: white !important;
  margin: 0px 7px !important;
}

.react-datepicker__day {
  border-radius: 50% !important;
  width: 35px !important;
  height: 35px !important;
  padding-top: 4px;
}

.react-datepicker__day:hover {
  background-color: #0d6efd !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: #0d6efd !important;
}

.react-datepicker__day--outside-month {
  color: rgb(173, 173, 173) !important;
}

.apexcharts-menu-open {
  margin-right: -70px;
}

.tooltipApexCharts {
  margin-top: 9px;
  margin-left: 5px;
  cursor: default !important;
}

.apexcharts-legend {
  overflow: hidden !important;
}
